# 01 - Criando cursos

### Criando a tabela Cursos

In [24]:
import pandas as pd
import html5lib

In [25]:
url = 'http://tabela-cursos.herokuapp.com/index.html'
cursos = pd.read_html(url)
cursos

[                          Nome do curso
 0                 Lógica de programação
 1                         Java para Web
 2                           C# para Web
 3                         Ruby on Rails
 4                      Cursos de Python
 5                         PHP com MySql
 6                         .NET para web
 7            Novas integrações com Java
 8                          TDD com Java
 9                   Código limpo com C#
 10  Preparatório para certificação Java
 11                      Hardware básico
 12                Persistência com .NET
 13                  Desenvolvendo jogos
 14                     Análise de dados
 15                   Estatística básica
 16                  Internet das coisas
 17                Programação funcional
 18                Boas práticas em Java
 19          Orientação objetos com Java]

In [26]:
# DataFrame de cursos
cursos = cursos[0]
type(cursos)

pandas.core.frame.DataFrame

In [27]:
cursos.head(10)

                Nome do curso
0       Lógica de programação
1               Java para Web
2                 C# para Web
3               Ruby on Rails
4            Cursos de Python
5               PHP com MySql
6               .NET para web
7  Novas integrações com Java
8                TDD com Java
9         Código limpo com C#

# 02 - Alterando o index

In [28]:
# Renomeando a coluna "Nome do curso"
cursos.rename(columns={'Nome do curso': 'nome_do_curso'}, inplace=True)
cursos.head()

           nome_do_curso
0  Lógica de programação
1          Java para Web
2            C# para Web
3          Ruby on Rails
4       Cursos de Python

In [29]:
# Criando id
cursos['id'] = cursos.index + 1
cursos.head(5)

           nome_do_curso  id
0  Lógica de programação   1
1          Java para Web   2
2            C# para Web   3
3          Ruby on Rails   4
4       Cursos de Python   5

In [30]:
# id como index
cursos = cursos.set_index('id')

In [31]:
cursos.head()

            nome_do_curso
id
1   Lógica de programação
2           Java para Web
3             C# para Web
4           Ruby on Rails
5        Cursos de Python