In [1]:
import pandas as pd

# Concatenando dataframes

## DataFrames

In [2]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]

df1 = pd.DataFrame(data=data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
index = [f'Linha{str(i)}' for i in range(3)]
columns = [f'Coluna{str(i)}' for i in range(3)]
df1 = pd.DataFrame(data=data, index=index, columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [4]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [5]:
df1[df1 > 0] = 'A'
df2[df2 > 0] = 'B'
df3 = pd.concat([df1, df2], axis=0)
df3

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B