# Importando os dados

In [37]:
import pandas as pd

In [38]:
arquivo = 'arquivos/tips.csv'
gorjetas= pd.read_csv(arquivo)
gorjetas.head()

   total_bill   tip dessert  day    time  size
0       16.99  1.01      No  Sun  Dinner     2
1       10.34  1.66      No  Sun  Dinner     3
2       21.01  3.50      No  Sun  Dinner     3
3       23.68  3.31      No  Sun  Dinner     2
4       24.59  3.61      No  Sun  Dinner     4

# Traduzindo colunas e campos

In [39]:
nomes_colunas = {
    'total_bill': 'valor_da_conta',
    'tip': 'gorjeta',
    'dessert': 'sobremesa',
    'day': 'dia_da_semana',
    'time': 'hora_do_dia',
    'size': 'total_de_pessoas'
}

gorjetas.rename(columns=nomes_colunas, inplace=True)

In [40]:
gorjetas.head()

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,No,Sun,Dinner,2
1,10.34,1.66,No,Sun,Dinner,3
2,21.01,3.50,No,Sun,Dinner,3
3,23.68,3.31,No,Sun,Dinner,2
4,24.59,3.61,No,Sun,Dinner,4

In [41]:
# Campos
campo_sobremesa = {
    'No': 'Não',
    'Yes': 'Sim'
}

campo_dia_da_semana = {
    'Sun': 'Domingo',
    'Sat': 'Sábado',
    'Thur': 'Quinta',
    'Fri': 'Sexta'
}

campo_hora_do_dia = {
    'Dinner': 'Jantar',
    'Lunch': 'Almoço'
}


gorjetas.sobremesa = gorjetas.sobremesa.map(campo_sobremesa)
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(campo_dia_da_semana)
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(campo_hora_do_dia)
gorjetas.head()

,valor_da_conta,gorjeta,sobremesa,dia_da_semana,hora_do_dia,total_de_pessoas
0,16.99,1.01,Não,Domingo,Jantar,2
1,10.34,1.66,Não,Domingo,Jantar,3
2,21.01,3.50,Não,Domingo,Jantar,3
3,23.68,3.31,Não,Domingo,Jantar,2
4,24.59,3.61,Não,Domingo,Jantar,4