# 02 - Seleções e Frequências

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [7]:
# Seleciona somente os imóveis classificados com tipo 'Apartamento'.
selecao_apartamentos = dados['Tipo'].isin(['Apartamento'])
quantidade_apartamentos = dados[selecao_apartamentos].shape[0]
quantidade_apartamentos

19532

In [8]:
# Seleciona os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao_casa_casaCondominio_casaVila = dados['Tipo'].isin(['Casa', 'Casa de Condomínio', 'Casa de Vila'])

# Alternantivamente, a selecção poderia ser:
# selecao_casa_casaCondominio_casaVila = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')

quantidade_casa_casaCondominio_casaVila = dados[selecao_casa_casaCondominio_casaVila].shape[0]
quantidade_casa_casaCondominio_casaVila

2212

In [10]:
# Seleciona os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
selecao_area = (dados['Area'] >= 60) & (dados['Area'] <= 100)
quantidade_por_area = dados[selecao_area].shape[0]
quantidade_por_area

8719

In [15]:
# Seleciona os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.
selecao_quarto_aluguel = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
quantidade_quarto_aluguel = dados[selecao_quarto_aluguel].shape[0]
quantidade_quarto_aluguel

41

In [16]:
print(f'Número de imóveis classificados com tipo "Apartamento": {quantidade_apartamentos}.')

print(f'Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": {quantidade_casa_casaCondominio_casaVila}.')

print(f'Número de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: {quantidade_por_area}.')

print(f'Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: {quantidade_quarto_aluguel}.')

Número de imóveis classificados com tipo "Apartamento": 19532.
Número de imóveis classificados com tipos "Casa", "Casa de Condomínio" e "Casa de Vila": 2212.
Número de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites: 8719.
Número de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00: 41.